.calendar-component{

    .react-calendar { 
        width: 400px;
        max-width: 100%;  
        background:  linear-gradient(42deg, rgba(2,0,36,1) 0%, rgba(42,42,103,1) 53%, rgba(226,100,172,1) 100%);

        color: #fff;
        border-radius: 8px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.125em;
        font-size: 12px;
    }
    .react-calendar__navigation button {
    color: #fff;
    min-width: 44px;
    background: none;
    font-size: 12px;
    margin-top: 8px;
    }
    .react-calendar__navigation button:enabled:hover,
    .react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
    }
    .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
    }
    abbr[title] {
    text-decoration: none;
    }
    
    .react-calendar__month-view__days__day--weekend {
    color: #fff;
    }
    .react-calendar__tile:enabled:hover,
    .react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #6f48eb;
    }
    .react-calendar__tile--now {
    background: #e24e99;
    font-weight: bold;
    color: #fff;
    }
    .react-calendar__tile--now:enabled:hover,
    .react-calendar__tile--now:enabled:focus {
    background: #6f48eb33;
    font-weight: bold;
    color: #6f48eb;
    }
    .react-calendar__tile--hasActive:enabled:hover,
    .react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
    }
    .react-calendar__tile--active {
    background: #6f48eb;
    font-weight: bold;
    color: white;
    }
    .react-calendar__tile--active:enabled:hover,
    .react-calendar__tile--active:enabled:focus {
    background: #6f48eb;
    color: white;
    }
    .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
    color: #6f48eb;
    border-radius:0px;
    }
    .react-calendar__tile--range {
    background: #f8f8fa;
    color: #6f48eb;
    border-radius:0px;
    }
    .react-calendar__tile--rangeStart {
    background: #6f48eb;
    color: white;
    }
    .react-calendar__tile--rangeEnd {
    background: #6f48eb;
    color: white;
    }
}