.not-found-container {
    text-align: center;
    padding: 40px; /* Increase padding for additional vertical space */
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .not-found-title {
    font-size: 2em;
    color: #747474;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:20px;
  }
  
  .not-found-message {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #747474;
    padding:20px;
  }
  
  .not-found-button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin-top: 10px;
    background-color: #e24e99;
    color: #fff;

  }
   
  