table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
  .actionColumn {
    width: 5%;
  }
  
  .addressColumn {
    width: 25%;
  }

  .aboutColumn {
    width: 35%;
  }

  .nameColumn{
    width:15%;
  }

  .phoneColumn, .websiteColumn{
    width: 10%;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}